sgarant.fr {
    reverse_proxy sgarantfr:80
}

the-main.quest {
    reverse_proxy os:3000
}

icecast.the-main.quest {
    reverse_proxy radio-icecast:8000
}

radio-api.the-main.quest {
    reverse_proxy radio-api:7000
}

radio.the-main.quest {
    reverse_proxy radio-front:80
}

#events.the-main.quest {
#    reverse_proxy events:3000
#}

lunch.the-main.quest {
    reverse_proxy lunch:3000
}
