sgarant.fr {
    reverse_proxy sgarantfr:80
}

icecast.the-main.quest {
    reverse_proxy icecast:8000
}

radio-api.the-main.quest {
    reverse_proxy api:7000
}

radio.the-main.quest {
    reverse_proxy front:80
}

lunch.the-main.quest {
    reverse_proxy lunch:80
}

log.the-main.quest {
    reverse_proxy log:80
}

the-main.quest {
    reverse_proxy os:80
}
